<h1>Display your Pirate here</h1>
<p><%= "Name: #{@pirate.name}" %></p>
<p><%= "Weight: #{@pirate.weight}" %></p>
<p><%= "Height: #{@pirate.height}" %></p>

<h2>Display your first ship here</h2>
<p><%= "Ship Name 1: #{@ship_1.name}" %></p>
<p><%= "Weight: #{@ship_1.type}" %></p>
<p><%= "Height: #{@ship_1.booty}" %></p>
<h2>Display your second ship here</h2>
<p><%= "Ship Name 1: #{@ship_2.name}" %></p>
<p><%= "Weight: #{@ship_2.type}" %></p>
<p><%= "Height: #{@ship_2.booty}" %></p>