<h1>Ahoy, <%= @pirate.name %>!</h1>
<h2> <%= @pirate.weight %> lbs is what will be added.</h2>
<h2> <%= @pirate.height %> .</h2>


<h2> name is <%= @ships[0].name %>.</h2>
<h2> type is <%= @ships[0].type %>.</h2>
<h2> booty capacity is <%= @ships[0].booty %>.</h2>


<h2> name is <%= @ships[1].name %>.</h2>
<h2> type is <%= @ships[1].type %>.</h2>
<h2> booty capacity is <%= @ships[1].booty %>.</h2>