<h1>Ahoy, <%= @pirate.name %>!</h1>
<h2>Ye add <%= @pirate.weight %> lbs to our vessel.</h2>
<h2>Ye stack <%= @pirate.height %> tall.</h2>


<h2>Ye first vessel's name be <%= @ships[0].name %>.</h2>
<h2>Ye first vessel's type be <%= @ships[0].type %>.</h2>
<h2>Ye first vessel's booty capacity be <%= @ships[0].booty %>.</h2>


<h2>Ye second vessel's name be <%= @ships[1].name %>.</h2>
<h2>Ye second vessel's type be <%= @ships[1].type %>.</h2>
<h2>Ye second vessel's booty capacity be <%= @ships[1].booty %>.</h2>
